--- 
layout: default 
--- 

<div class="post">
    <h1>{{ page.title }}</h1>
    <span>{{ page.date | date: "%b %d, %y" }}</span>
    <hr>
    <div>{{ content }}</div>
</div>
<script>
    var imgEl = document.getElementsByTagName('img');
    for (var i=0; i<imgEl.length; i++) {
        if (imgEl[i].getAttribute('src') && imgEl[i].id != 'avatar') {
        imgEl[i].setAttribute('data-src',imgEl[i].getAttribute('src'));
        imgEl[i].removeAttribute('src'); //use only if you need to remove data-src attribute after setting src
        }
    }
    $(function() {

        const IMG_SCOPE = '.main .post';
      
        if ($(`${IMG_SCOPE} img`).length <= 0 ) {
          return;
        }
      
        /* lazy loading */
      
        const imgList = document.querySelectorAll(`${IMG_SCOPE} img[data-src]`);
        const observer = lozad(imgList);
        observer.observe();
      
        /* popup */
      
        $(`${IMG_SCOPE} p > img[data-src],${IMG_SCOPE} img[data-src].preview-img`).each(
          function() {
            let nextTag = $(this).next();
            const title = nextTag.prop('tagName') === 'EM' ? nextTag.text() : '';
            const src = $(this).attr('data-src'); // created by lozad.js
      
            $(this).wrap(`<a href="${src}" title="${title}" class="popup"></a>`);
          }
        );
      
        $('.popup').magnificPopup({
          type: 'image',
          closeOnContentClick: true,
          showCloseBtn: false,
          zoom: {
            enabled: true,
            duration: 300,
            easing: 'ease-in-out'
          }
        });
      
        /* markup the image links */
      
        $(`${IMG_SCOPE} a`).has('img').addClass('img-link');
      
      });
</script>